@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@font-face {
    font-family: "Stanford";
    src: url("https://www-media.stanford.edu/assets/fonts/stanford.woff") format("woff"), url("https://www-media.stanford.edu/assets/fonts/stanford.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Druk Web";
    src: url("/fonts/Druk-Super-Web.woff2") format("woff2");
    font-weight: 900;
}
@font-face {
    font-family: "Druk Wide Web";
    src: url("/fonts/DrukWide-Bold-Web.woff2") format("woff2");
    font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
