/* The Next local font API src only support local paths so leaving the Stanford font here for now. */
@font-face {
  font-family: "Stanford";
  src: url("https://www-media.stanford.edu/assets/fonts/stanford.woff") format("woff"), url("https://www-media.stanford.edu/assets/fonts/stanford.ttf") format("truetype");
  font-weight: 300;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
